# Python / Django ignores
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
*.log

# Virtual environment
venv/
.env/
.envrc
.env.local

# Django media / static files (optional)
media/
staticfiles/

# IDE files
.vscode/
.idea/
