{% extends "base.html"%} 

{% block pagetitle %}Login Page{% endblock %} 

{% block content %} 

<div class="page-wrapper">
  <h2>Welcome Back</h2>
  <p>Please enter your details to sign in.</p>

  <div class="auth-card">

    {% if messages %}
      {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <h2>Login</h2>
    <form method="POST">
      {% csrf_token %} 
      {{ form }}
      <button type="submit" class="btn-block">Login</button>
    </form>
  </div>

  <div class="login-footer">
    <span>Don't have an account?</span>
    <a href="{% url 'register_page' %}">Create one</a>
  </div>
</div>

{% endblock %}
